<div class="well">
	{% include 'NSAdminBundle:Generic:side-tree-widget.html.twig' with {
		'id':         'ns-category-tree',
		'selectedId':  category.id|default(null),
		'header':     'Категории товаров',
		'itemsJson':   categoriesJson,
		'activateUrl': url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'catalog', adminAction: 'index' }) ~ '?categoryId={key}'
	} %}
</div>

<div id="dlgCategoryForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlgCategoryFormLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="dlgCategoryFormLabel"></h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Отменить</button>
		<button class="btn btn-success btn-save">Сохранить</button>
	</div>
</div>

<script type="text/javascript">
	(function($){
		var categoryForm    = $('#dlgCategoryForm');
		var modalCategoryId = null;

		var fnHandleResponse = function(res) {
			if (res.error) {
				throw res.error;
			}
			categoryForm.find('.modal-body').html(res);
			categoryForm.find('form').submit(function(){
				fnSave();
				return false;
			});
		};

		var fnSave = function(){
			$.ajax({
				'url': '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'categoriesApi', adminAction: 'form' }) }}' + (modalCategoryId ? '?id=' + modalCategoryId : ''),
				'type': 'POST',
				'data': categoryForm.find('form').serialize()
			})
			.done(function(res){
				fnHandleResponse(res);
				categoryForm.modal('hide');
				location.href = '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'catalog', adminAction: 'index' }) }}?categoryId=' + res.categoryId;
			});
		};

		var categoryTree = $('#ns-category-tree');
		categoryTree.on('add-click', function(){
			$('#dlgCategoryFormLabel').text('Добавление категории');
			$.ajax({
				'url': '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'categoriesApi', adminAction: 'form' }) }}',
				'type': 'GET'
			})
			.done(function(res){
				fnHandleResponse(res);
				modalCategoryId = null;
				categoryForm.modal('show');
			});
		});

		categoryTree.on('edit-click', function(e, categoryId){
			$('#dlgCategoryFormLabel').text('Редактирование категории');
			$.ajax({
				'url': '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'categoriesApi', adminAction: 'form' }) }}?id=' + categoryId,
				'type': 'GET'
			})
			.done(function(res){
				fnHandleResponse(res);
				modalCategoryId = categoryId;
				categoryForm.modal('show');
			});
		});

		categoryTree.on('delete-click', function(e, categoryId){
			$.ajax({
				'url': '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'categoriesApi', adminAction: 'delete' }) }}?id=' + categoryId,
				'type': 'GET'
			})
			.done(function(res){
				if (res.error) {
					throw res.error;
				}
				location.href = '{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'catalog', adminAction: 'index' }) }}';
			});
		});

		categoryForm.find('.btn-save').click(fnSave);
	})(jQuery);
</script>