{# New table format #}
<form action="" class="ns-items-form">
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th style="width:20px">
            <input type="checkbox" />
        </th>

        <th style="width:30px;text-align: center"><i class="icon-eye-open"></i></th>
        <th style="width:200px">Название</th>

        {% for col in cols %}
            {% if category.type.hasElement(col) %}
                <th>
                    {{ category.type.element(col).title }}
                    {% if orderCol == col %}
                        <i class="icon-chevron-down"></i>
                    {% endif %}
                </th>
            {% endif %}
        {% endfor %}

        <th style="text-align:right">
            <a href="#" class="ns-viewport-config" data-type="{{ category.type.id }}"><i class="icon-cog"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in pagination %}
        <tr>
            <td><input type="checkbox" name="id[]" value="{{ item.id }}" /></td>
            <td>{{ ie_visible(item) }}</td>
            <td>{{ item.title }}</td>

            {% for col in cols %}
                {% if category.type.hasElement(col) %}
                    <td>
                        {% set typeName = category.type.element(col).category %}
                        {% set value = item.settings.setting(col) %}

                        {% if typeName == 'textarea' %}
                            {{ value[:25] ~ (value|length > 25 ? '...' : '') }}
                        {% elseif typeName == 'ns_catalog_node_date' %}
                            {{ value ? value|date('d.m.Y') : '' }}
                        {% elseif typeName == 'checkbox' %}
                            {{ ie_boolean(item, col, attribute(item.settings, col)) }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <td>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-mini btn-edit-item" data-id="{{ item.id }}"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-mini btn-delete-item" data-id="{{ item.id }}"><i class="icon-trash"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>

{# Viewport config dialog #}
{% include 'NSCatalogBundle:AdminCatalog:dlg-viewport-config.html.twig' %}
