{% extends 'NSAdminBundle:Layout:col2.html.twig' %}

{# Additional styles #}
{% block styles %}
	{{ parent() }}
	<link href="{{ asset('bundles/nscatalog/css/inline-edit.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{# Additional scripts #}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/nscatalog/js/inline-edit.js') }}"></script>
{% endblock %}

{# Page header #}
{% block content_header %}
    <h3>Управление каталогом</h3>
{% endblock %}

{# Category tree #}
{% block content_left %}
    {{ render(controller('NSCatalogBundle:AdminCategories:categoryTree'))  }}
{% endblock %}

{# Main content #}
{% block content_content %}

    {# Including navbar block #}
    {% include 'NSCatalogBundle:AdminCatalog:block-navbar.html.twig' %}

    {% if pagination.count %}
        {% if category and category.type %}
            {% include 'NSCatalogBundle:AdminCatalog:block-table.html.twig' %}
        {% else %}
            {% include 'NSCatalogBundle:AdminCatalog:block-table-legacy.html.twig' %}
        {% endif %}

        {# Including multiaction block #}
        {% include 'NSCatalogBundle:AdminCatalog:block-multiaction.html.twig' %}

        {{ knp_pagination_render(pagination, 'NSAdminBundle:Generic:pagination.html.twig') }}
    {% else %}
        <p>Не найдено ни одного товара</p>
    {% endif %}

    {# Including item dialog #}
    {% include 'NSCatalogBundle:AdminCatalog:dlg-item.html.twig' %}
{% endblock %}
