<div class="ns-ie-boolean">
	<span class="border">
		<i class="{{ options.class }}"
		   data-url="{{ options.url }}"
		   data-id="{{ item.id }}"
		   data-field="{{ field }}"
		   data-value="{{ value | number_format(0) }}"
		></i>
	</span>
</div>
