<div class="ns-ie-boolean" style="text-align: center">
	<span class="border">
		<i class="{{ options.class }}"
		   data-url="{{ url('ns_admin_bundle', { adminBundle: 'NSCatalogBundle', adminController: 'itemsApi', adminAction: 'updateBooleanValue' }) }}"
		   data-id="{{ item.id }}"
		   data-field="{{ field }}"
		   data-value="{{ attribute(item.settings, field) | number_format(0) }}"
		></i>
	</span>
</div>
